<ion-header [translucent]="false">
  <ion-toolbar color="primary">
    <ion-row>
      <ion-col size="2" >
        <ion-button fill="clear" color="light">
          <ion-icon slots="start" name="search" class=" ion-text-center"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="10" class=" ion-align-self-center">
        <ion-title class=" ion-text-lowercase">
          Customer Name
        </ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-item>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="5">
            <ion-row>
              <ion-col size="12">{{products.length}}</ion-col>
              <ion-col class="pA" size="12">
               Products Added
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="7" class="ion-align-self-center">
              <ion-button expand="full" class=" addButton ion-text-lowercase" [routerLink]="['/add-product']">
                <ion-icon name="add-circle" class=" addIcon"></ion-icon>
                Add Product(s)
              </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>


    <cdk-virtual-scroll-viewport class="scrollInfinite" itemSize="56" minBufferPx="900" maxBufferPx="900">
      <ion-list *cdkVirtualFor="let product of products">
        <ion-item>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="2" *ngFor="let pic of pics" class=" ion-align-self-center">
                <ion-thumbnail>
                  <ion-img [src]="pic.url" ></ion-img>
                </ion-thumbnail>
              </ion-col>
              <ion-col size="10">
                <ion-list lines="none">
                  <ion-item>
                    <ion-label>Ean: {{product.BarCode}}</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Name: {{product.product_model}}</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Brand: {{product.product_brand}}</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>stock: {{product.product_stock}}</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>price: {{product.product_price}}€</ion-label>
                  </ion-item>
                  <ion-item [routerLink]="['./', product.id]">
                    <ion-icon name="eye-sharp"></ion-icon>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </cdk-virtual-scroll-viewport>
</ion-content>
